#list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    padding: 20px;
    align-items: center;
}

#image{
    height: 250px;
    width: 250px;
}

#div{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#div1{
    display: flex;
    gap: 30px;
}