#product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img {
    height: 300px;
    width: 150px;
}

#priceValue {
    margin-left: 200px;
}

#container {
    background-color: #f7efef;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#cart {
    display: flex;
    margin: auto;
}